
  <div class="d-flex justify-content-center text-center">
    <div class="d-flex align-items-center" style="height:600px;">
      <div>
        <h1><strong>本当に退会しますか？</strong></h1>

        <div class="row text-center justify-content-around mt-5">
          <%= link_to "退会しない", mypage_path, class: "btn-lg btn-primary col-4" %>
          <%= link_to "退会する", withdraw_path, method: :patch, class: "btn-lg  btn-danger col-4", "data-confirm"=> "本当に退会しますか？" %>
        </div>
      </div>
    </div>
  </div>
