
  <div class="row mt-2">

      <% likes.each do |like| %>
        <% if like.end_user.is_deleted != true %>
        <div class="col-4 h75">
          <div class="card my-3 vh75">

              <%= link_to post_path(like.end_user.display_name, like.table.id), class: "text-decoration-none text-dark"  do %>
                <div class="card-body h-200 ">
                  <p class="card-title"> <%= like.table.end_user.display_name %></p>
                  <p class="card-title"> <%= like.table.body %></p>
                </div>
                <div class="card-body text-right">
                  <p class="card-text text-"> <i class="fas fa-solid fa-heart ml-3"></i> <%= like.table.likes.count %></p>
                </div>
              <% end %>

          <% end %>
          </div>
        </div>

      <% end %>

    </div>
