<div class="header border-bottom">
  
  <div class="row justify-content-center">
    <div class="col-10 text-center ">
      <h2 class="font-1"><%= end_user.display_name %></h2><p class="mb-1 font-1 font-15">さんの<strong class="text-p">いいね</strong>リスト</p>
    </div>
  </div>

  <div class="row my-2 justify-content-around ">

    <div class="col-3 btn btn-lg bg-info btn-small btn-medium">
      <%= link_to post_likes_path(end_user.display_name), class: "text-decoration-none text-light" do %>
        <strong>投稿一覧</strong>
      <% end %>
    </div>

    <div class="col-lg-3 col-4 btn btn-lg bg-info btn-small btn-medium">
      <%= link_to comment_likes_path(end_user.display_name), class: "text-decoration-none text-light" do %>
        <strong>コメント一覧</strong>
      <% end %>
    </div>

    <div class="col-lg-3 col-4 btn btn-lg bg-info btn-small btn-medium">
      <%= link_to reply_likes_path(end_user.display_name), class: "text-decoration-none text-light"  do %>
        <strong>リプライ一覧</strong>
      <% end %>
    </div>

  </div>

</div>