.h-200{
  height:200px;
}

.text-p{
  color: #CC66CC;
}

.field_with_errors {
  display:  contents;
}

.item-height{
  height: 600px;
}

/*-------------*/
@media screen and (max-width:769px) {
  .btn-small {
    padding: 0.375rem 0rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }

  .img-30-30{
    width:30px;
    height:30px;
  }
  .ellipsis{
    overflow: hidden;
    font-size: 0.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }

  .no-height {
      height: auto;
  }

  .card-sm-padding{
    padding: 0rem 1.25rem 0.5rem;
  }

  .card-body-upper-row{
    padding: 1.25rem 1.25rem 0rem 1.25rem;
  }

  .font-09{
    font-size: 0.9rem;
  }

  .h2-sm-size{
    font-size: 1.9rem;
  }

  .table th, .table td {
    padding: 0.75px 0px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    table-layout: fixed
  }

  .table {
    table-layout: fixed;
  }

  .font-03{
    font-size:0.3rem;
  }
  .p0{
    padding: 0px;
  }

  .font-07{
    font-size:0.7rem;
  }

  .font-05{
    font-size:0.5rem;
  }

  .img-15{
    height: 17px;
    width: 17px;
  }

  .img-50-30{
    height: 19px;
    width: 50px;
  }

  .img-50-30{
    height: 19px;
    width: 50px;
  }

  .overflow-hidden{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .font-08{
    font-size: 0.8rem;
  }

  .font-13{
    font-size: 1.3rem;
  }

  .item-height{
    height: 300px;
  }

  .img-25{
    width: 25px;
    height: 25px;
  }

  .img-17{
    width: 17px;
    height: 17px;
  }

  .img-60{
    width: 57px;
    height: 48px;
  }

  .post-sm-img{
    width: 150px;
    height: 100px;
  }

  .position-sm{
    position:relative;
  }

  .sm-list{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
  }

  .txt-center{
    text-align: center;
  }

  .font-06{
    font-size:0.6rem;
  }

  .font-1{
    font-size:1rem;
    margin-bottom:0px;
  }

  .padding-l{
    padding-left: 10px;
  }

}

@media screen and (max-width: 425px) {

  .comment-sm-name {
    display: block;
  }

}

